body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.participant {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.winner {
    background-color: yellow;
    color: black;
    padding: 5px;
  }