body {
   background-color: #333;
   font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   letter-spacing: 2px;
}

#game {
   background-size: 100% 100%;
   height: 720px;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   width: 480px;
}

#score {
   background-color: #A88C0799; 
   border: 2px solid #A88C07; 
   color: white;
   padding: 5px 20px;
   border-radius: 4px;
   position: absolute;
   right: 10px;
   top: 10px;
   z-index: 10;
}

#score p {
   margin: 0.5em 0;
}

#mute {
   cursor: pointer;
   font-size: 20px;
   margin: 0 5px;
}

#play {
   cursor: pointer;
}
